
.block{
    border: 2px solid;
    height: 100px;
    width: 100px;
    cursor: pointer;
    
    /* X,O */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;

}

.board{
    padding: 20px;
}

.row{
    display: flex;
}